:root {
    --color-background: #000000;
    --color-surface: #222222;
    --color-text: #ffffff;
    --color-muted: #b3b3b3;
    --color-primary: #e50914;
    --color-primary-hove: #b20710;

    --container-width: 1180px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;

    background-color: var(--color-background);
    color: var(--color-text);
    
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

